.points-box
{
  width:300px;
  border:1px;
  font-family: "Arial";
  text-align: center;
  color: white;
}

div.points-box h1
{
  color:white;
  font-size:20px;
  height:80px;
}

.points-text
{
  font-size:85px;
  color: white;
}

.points-label
{
  font-size:20px;
}

.points-table tr{
    height:400px;
    background-color:red;
}

.logo_asset{
  max-height:60px;
}

#points-ee
{
  background-color:#214497;
  text-align:center;
}

#points-me
{
  background-color:#AE1F26;
  text-align:center;
}

#points-ce
{
  background-color:#D2AE2A;
  text-align:center;
}



